@import reset

// Colors
// ################################################
$background-color-light: #fecaf4
$foreground-color-primary: E200B0

// Sizes
// ################################################
$mobile-breakpoint: 600px

// Fonts
// ################################################
@mixin body-text
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  line-height: 1.5

@mixin title-text
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif
  line-height: 1.0


// Defaults
// ################################################
body
  padding: 48px
  box-sizing: border-box

sup
  vertical-align: super
  font-size: 14px

h1
  @include title-text
  font-size: 140px
  font-weight: bold

  @media only screen and (max-width: $mobile-breakpoint)
    font-size: 70px

h2
  @include title-text
  font-size: 70px

  @media only screen and (max-width: $mobile-breakpoint)
    font-size: 35px

p, li
  @include body-text
  font-size: 18px

li
  &::before
    content: "•"
    color: $foreground-color-primary
    display: inline-block
    width: 1em
    margin-left: -1em


// Hero
// ################################################
#hero
  display: grid
  grid-template-columns: 2fr 1fr
  grid-template-rows: auto auto
  grid-template-areas: "title image" "subtitle image"

  h1
    grid-area: title

  h2
    grid-area: subtitle

  .image
    grid-area: image
    background-image: url("f.png")
    background-position: center
    background-size: contain
    background-repeat: no-repeat
    min-width: 60px
    min-height: 60px

  @media only screen and (max-width: $mobile-breakpoint)
    grid-template-areas: "title image" "subtitle subtitle"

    .image
      align-self: flex-start


// Blocks
// ################################################
.block
  margin-top: 48px

.columns-2
  grid-gap: 24px
  display: grid
  grid-template-columns: 2fr 1fr
  grid-auto-rows: auto

  @media only screen and (max-width: $mobile-breakpoint)
    grid-template-columns: 1fr

    .paragraph, .footnote
      grid-column: auto

.paragraph
  grid-column: 1

.footnote
  grid-column: 2
  font-size: 12px

.block .title
  background-color: $background-color-light
  padding-left: 4px
  padding-right: 4px
  padding-top: 1px
  padding-bottom: 1px
  margin-top: -1px
  margin-bottom: -1px
  margin-right: 4px

  font-weight: 900


// Components
// ################################################
#components
  display: grid
  grid-template-columns: 1fr 1fr 1fr
  grid-template-rows: auto auto
  grid-template-areas: ". amp ." "network marketplace process"
  grid-gap: 24px

  #amp
    grid-area: amp

  #network
    grid-area: network

  #marketplace
    grid-area: marketplace

  #process
    grid-area: process

  @media only screen and (max-width: $mobile-breakpoint)
    grid-template-areas: none
    grid-auto-flow: row
    grid-template-columns: auto
    grid-auto-rows: auto

    #amp, #network, #marketplace, #process
      grid-area: auto

  .component
    display: grid
    grid-template-columns: auto
    grid-template-rows: auto auto 1fr
    grid-auto-flow: row
    grid-auto-rows: auto
    grid-gap: 24px
    align-items: flex-start

    .title
      background-color: transparent
      text-align: center

    img
      justify-self: center
      max-height: 50px

    p
      hyphens: auto
