@charset "UTF-8";
/* Reset
 ************************************************ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

@font-face {
  font-family: "sf-mono-regular";
  src: url("fonts/SFMono-Regular.woff2") format("woff2"), url("fonts/SFMono-Regular.woff") format("woff"); }

@font-face {
  font-family: "sf-ui-display-regular";
  src: url("fonts/SF-UI-Display-Regular.woff2") format("woff2"), url("fonts/SF-UI-Display-Regular.woff") format("woff"); }

@font-face {
  font-family: "sf-ui-display-bold";
  src: url("fonts/SF-UI-Display-Bold.woff2") format("woff2"), url("fonts/SF-UI-Display-Bold.woff") format("woff"); }

@font-face {
  font-family: "sf-ui-display-light";
  src: url("fonts/SF-UI-Display-Light.woff2") format("woff2"), url("fonts/SF-UI-Display-Light.woff") format("woff"); }

body {
  font-family: "Times New Roman";
  box-sizing: border-box;
  background-color: #f7f8fb; }

sup {
  vertical-align: super;
  font-size: 14px; }

h1 {
  font-family: "sf-ui-display-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.0;
  font-weight: 900;
  font-size: 144px;
  font-weight: 900; }
  @media only screen and (max-width: 868px) {
    h1 {
      font-size: 72px; } }

h2 {
  font-family: "sf-ui-display-light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.0;
  font-weight: 900;
  font-size: 72px; }
  @media only screen and (max-width: 868px) {
    h2 {
      font-size: 36px; } }

h3 {
  font-family: "sf-ui-display-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.0;
  font-weight: 900;
  font-size: 36px; }
  @media only screen and (max-width: 868px) {
    h3 {
      font-size: 24px; } }

hr {
  border: 1px solid #E200B0;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 92px;
  margin-bottom: 92px; }

.inline-title {
  font-family: "sf-ui-display-bold", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.0;
  font-weight: 900;
  background-color: #fecaf4;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-right: 4px;
  font-weight: 900; }

.button {
  font-family: "sf-mono-regular", monospace;
  line-height: 1.5;
  background-color: #E200B0;
  border-radius: 100px;
  border: none;
  outline: none;
  color: #FFF;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: none; }

a {
  color: #E200B0;
  text-decoration: underline; }

p, li {
  font-family: "sf-ui-display-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 18px; }

li::before {
  content: "•";
  color: #E200B0;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding-left: 18px; }

strong {
  font-weight: 900; }

em {
  font-style: italic; }

#content-container {
  padding: 48px;
  padding-left: 96px;
  padding-right: 96px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  background-color: #fff;
  border-radius: 0 0 48px 48px;
  box-sizing: border-box; }
  @media only screen and (max-width: 868px) {
    #content-container {
      padding: 48px; } }

footer {
  font-family: "sf-mono-regular", monospace;
  line-height: 1.5;
  text-align: center;
  padding: 24px;
  color: #999; }
  footer a {
    color: inherit; }
  footer.block {
    margin: 0; }

#menu {
  font-family: "sf-mono-regular", monospace;
  line-height: 1.5;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto 1fr auto 1fr auto;
  grid-template-areas: "logo . menu . button";
  grid-template-rows: auto;
  grid-gap: 48px;
  margin-bottom: 92px;
  align-items: center; }
  #menu img {
    grid-area: logo;
    width: 60px;
    height: 60px; }
  #menu ul {
    grid-area: menu;
    display: grid;
    grid-auto-columns: auto;
    grid-gap: 92px;
    grid-auto-flow: column;
    grid-template-rows: auto;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #E200B0;
    padding-bottom: 12px; }
    #menu ul li {
      font-family: "sf-mono-regular", monospace;
      line-height: 1.5; }
      #menu ul li::before {
        content: "";
        color: transparent;
        display: none;
        width: 0;
        margin-left: 0; }
      #menu ul li a {
        color: #000;
        font-weight: normal;
        text-decoration: none;
        transition: 75ms ease-in color; }
        #menu ul li a:hover {
          color: #E200B0; }
  #menu .button {
    grid-area: button; }
  @media only screen and (max-width: 1068px) {
    #menu {
      grid-template-columns: auto 1fr auto;
      grid-template-rows: auto auto;
      grid-template-areas: "logo . button" "menu menu menu";
      grid-gap: 24px; }
      #menu ul {
        grid-auto-flow: row;
        grid-gap: 12px; } }

#hero {
  margin-bottom: 96px; }
  #hero h1 {
    margin-bottom: 48px; }
  #hero h2 {
    font-weight: 300; }

.block {
  margin-top: 48px;
  margin-bottom: 48px; }

.columns-2 {
  grid-gap: 12px;
  grid-column-gap: 96px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-auto-rows: auto; }
  @media only screen and (max-width: 868px) {
    .columns-2 {
      grid-template-columns: 1fr; }
      .columns-2 .paragraph, .columns-2 .footnote {
        grid-column: auto; } }

.paragraph {
  grid-column: 1; }

.footnote {
  grid-column: 2;
  font-size: 12px; }

.component-title {
  display: flex;
  justify-content: center;
  align-items: center; }
  .component-title > * {
    display: inline-block;
    font-weight: 900; }

.component-grid {
  display: grid;
  grid-column-gap: 72px;
  grid-row-gap: 72px;
  grid-auto-rows: auto; }

#amp {
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: ". amp ."; }
  #amp #amp {
    grid-area: amp; }
  @media only screen and (max-width: 868px) {
    #amp {
      grid-template-areas: none;
      grid-auto-flow: row;
      grid-template-columns: auto;
      grid-auto-rows: auto; }
      #amp #amp {
        grid-area: auto; } }

#platform-components {
  grid-template-columns: 1fr 1fr 1fr; }
  @media only screen and (max-width: 868px) {
    #platform-components {
      grid-template-areas: none;
      grid-auto-flow: row;
      grid-template-columns: auto;
      grid-auto-rows: auto; }
      #platform-components #network, #platform-components #marketplace, #platform-components #process {
        grid-area: auto; } }

#roles {
  grid-template-columns: 1fr 1fr 1fr 1fr; }
  #roles .component {
    grid-column: span 2; }
  #roles #client {
    grid-column: 2/4; }
  @media only screen and (max-width: 868px) {
    #roles {
      grid-template-areas: none;
      grid-auto-flow: row;
      grid-template-columns: auto;
      grid-auto-rows: auto; }
      #roles .component, #roles #client {
        grid-column: auto; } }

.component-inner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 1fr;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 24px;
  align-items: flex-start; }
  .component-inner h3 {
    background-color: transparent;
    text-align: center; }
  .component-inner img {
    justify-self: center;
    max-height: 50px; }

#join {
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 48px; }

#join-inner {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: ". join .";
  grid-gap: 48px;
  grid-auto-flow: row; }
  #join-inner #join-grunka {
    text-align: center;
    grid-area: join;
    font-family: "sf-ui-display-regular", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #E200B0;
    font-size: 18px;
    display: block;
    min-width: 250px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #E200B0; }
